* {
    box-sizing: border-box;
}

/* Nav Bar */
nav {
    background-color: #D7D7D7;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

/* Barre de recherche */
#searchbar {
    margin-top: 5px;
    padding: 15px;
    border-radius: 10px;
    width: 70%;
    background-image: url('Img nav/Loupe.png');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 20px auto;
}

/* Container de la barre de recherche avec position relative */
.search-container {
    position: relative;
    width: 50%;
}

/* Pour le bouton contact */
button {
    background-color: blue;
    color: #D7D7D7;
    margin: 10px;
    /* padding: 10px; */
}


main {
    min-height: calc(100vh - 111px - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Le footer qui est en flex */
footer {
    background-color: #2B2B2B;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px
}

section {
    display: inline-flex;
}

section h3 {
    margin: 0 20px;
}
.mySlides {
    display: none;
    width: 1024px;
    height: 400px;
}

.display-container {
    position: relative;
    margin-bottom: 30px;
}

/* Déplacement des flèche sur l'image */
.display-left,
.display-right {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.display-left {
    left: 10px;
}

.display-right {
    right: 10px;
}

.display-left img,
.display-right img {
    width: 100%;
    height: 100%;
}

.oui {
    display: flex;
    margin-right: 10px;
}