


/*.formulaire-content{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formulaire-content > .container-left {
    background-image: url("img formulaire/mozaique.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
}
.formulaire-content > .container-right {
    width: 50%;
} */
/**************** formulaire a creer ******************/
* {
    box-sizing: border-box;
}

main{
    background-color:whitesmoke; 
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px 0 5px;
    min-height: calc(100vh - 114.36px - 100px);
}

.container{
    position:relative;
    overflow: hidden;
    min-height:480px;
    width: 768px;
    max-width:100%;
    background-color: rgb(252, 248, 242);
    border-radius: 10px;
    
}
.form-container{
    position:absolute;
    top: 0;
    height: 100%;
    transition: .6s ease-in-out;
}
.login-container{
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container{
    left: 0;
    width: 60%;
    opacity: 0;
    z-index: 1;
}

.container.pane1-active .signUp-container{
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
      animation: show .6s;
}

@keyframes show{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
    opacity: 1;
    z-index: 5;
    }
}

.container.pane1-active .login-container{
    transform: translateX(100%);
}

form{
    background-color: #d7d7d7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input{
    background-color:whitesmoke;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
main button.ghost{
    background-color: transparent;
}
main button{
    background-color: whitesmoke;
    color:rgb(1, 12, 23);
    border: 1px solid whitesmoke;
    font-size: 16px;
    margin-top: 24px;
    font-weight: bold;
    padding: 16px 32px;
    letter-spacing: 1px;
    border-radius: 40px;
    border-color: black;
    transition: .2s ease-in;
}
main button:active{
    transform: scale(.95);
}

main button:hover{
    cursor: pointer;
    background-color: rgb(1, 12, 23);
    color: whitesmoke;
}
.overlay-container{
    position:absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    transition: transform .6s ease-in-out;
}
.container.pane1-active .overlay{
    transform: translateX(50%);
}

.container.pane1-active .overlay-container{
    transform: translateX(-100%);
}

.overlay{
    background-color: #d7d7d7;
    color: black;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform .6s ease-in-out;
}

.overlay-pane1{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform .6s ease-in-out;

}

.overlay-left{
    transform: translateX(0);

}
.container.pane1-active .overlay-left{
    transform: translateX(0);
}

.overlay-right{
    right: 0;
    transform: translateX(0);
}
.container.pane1-active .overlay-right{
    transform: translateX(20%);
}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

.social-container{
    margin: 24px 0;
}
.social-container a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: whitesmoke ;

}

h1{
    margin: 0;
    font-size: 24px;

}
span{
    font-size: 14px;
}
main a{
    text-decoration: none;
    font-family: 14px;
    margin: 8px 0 16px;
    color:rgb(1, 12, 23);
}

/* Nav Bar */
nav {
    background-color: #D7D7D7;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    margin: 20px;
}

.a {
    text-decoration: none;
    color: black;
}

.a:hover {
    color: blue;
}

/* Barre de recherche */
#searchbar {
    margin-top: 5px;
    padding: 15px;
    border-radius: 10px;
    width: 70%;
    background-image: url('Img nav/Loupe.png');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 20px auto;
}

/* Container de la barre de recherche avec position relative */
.search-container {
    position: relative;
    width: 50%;
}

/* Pour le bouton contact */
.button {
    background-color: blue;
    color: #D7D7D7;
    margin: 10px;
    /* padding: 10px; */
}

/* Le footer qui est en flex */
footer {
    background-color: #2B2B2B;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px
}

section {
    display: inline-flex;
}

section h3 {
    margin: 0 20px;
}